.App {
  text-align: center;
  height: 100vh;
  padding-top: 10vh;
}

.App-link {
  color: #61dafb;
}


.App.app-dark{
  background-color: #282c34;
  color: white;
}

.App.app-light{
  background-color: white;
  color: #282c34;
}